.section {
   font-family: 'Poppins', 'Lato';
   font-weight: bold;
   height: 100vh;
   width: 415px;
   justify-content: center !important;
   align-items: center;
   box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
}

/* blok 1 */
.header {
   position: relative;
   background-color: var(--color-4);
   width: 100%;
   height: 230px;
   border-radius: 0px 0px 30px 30px;
}

.icon {
   width: 385px;
   position: absolute;
   margin-top: 5px;
}

/* blok 2 */
.container {
   position: inherit;
   top: 100px;
   width: 100%;
   height: 100vh;
   background-color: var(--mainColor);
   border-radius: 12px;
   padding: 30px;
   box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
}

.content {
   position: relative;
   background-color: var(--mainColor);
   width: 345px;
   top: -150px;
   box-shadow: 0px 8px 27px rgba(14, 63, 108, 0.19);
   border-radius: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.result {
   width: 385px;
   background-color: #ffffff;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   padding: 5px;
}

.city {
   font-weight: bold;
   font-size: xx-large;
}

.main {
   margin-top: -100px;
}

.snack {
   width: 136px;
   background-color: #6DDA6B;
   padding: 15px;
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
   border: 0;
   border-radius: 8px;
}

.wifi {
   width: 136px;
   background-color: #7861D7;
   padding: 15px;
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
   border: 0;
   border-radius: 8px;
}

.room {
   width: 136px;
   background-color: #E45D32;
   padding: 15px;
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
   border: 0;
   border-radius: 8px;
}
.button {
   width: 100%;
   padding: 15px;
   background-color: #2395ff;
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
   border: 0;
   border-radius: 8px;
}

.button:hover {
   box-shadow: 0px 10px 10px rgba(47, 153, 253, 0.3);
}

@media screen and (min-width: 400px) {
   .section {
      width: 405px;
   }

   .card {
      margin-top: 20px;
      width: 330px;
   }
}