.bodyWrapper {
  background-color: #2495ff;
  min-height: 110vh;
}

.header {
  color: #ffffff;
  font-weight: bolder;
  font-size: 20px;
}

.flight span {
  font-size: 26px;
  font-weight: bold;
}

.ticketInfo p {
  margin-bottom: 5px;
  color: #a5a5a5;
  font-weight: lighter;
}

.ticketInfo h5 {
  color: #595959;
  font-size: 16px;
}

.qrCodeTicket img {
  width: 200px;
}
