.bodyWrapper {
  height: 100vh;
}

.exploreWrapper {
  background-color: #f8f8f8;
}

/* Header */
.notification div {
  gap: 5px;
  display: inline;
}

.notification svg {
  cursor: pointer;
}

.message {
  margin-right: 20px;
}
/* Header End */

/* Trending Destinations */
.trendingTitle {
  font-weight: bold;
}

.viewAll {
  color: #2395ff;
}

.destinationsCarousel {
  position: relative;
  overflow: hidden;
  border-radius: 15px !important;
  cursor: pointer;
  min-height: 190px;
  width: 90% !important;
}

.destinationsCarousel::after {
  content: "";
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, transparent 0, transparent 10%, #000);
  opacity: 0.8;
}

.destinationsImage {
  object-fit: cover !important;
}

.totalAirlines {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: small;
  background-color: #ffffff;
  opacity: 0.5;
  padding: 5px;
  border-radius: 15px;
}

.destinationTitle {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-weight: bold;
  font-size: larger;
  z-index: 5;
}

.destinationCity {
  font-size: small;
  font-weight: lighter;
}

.totalAirlines span {
  color: rgb(176, 172, 172);
}
/* Trending Destinations End */

/* top 10 Destinations */
.cardDestinations img {
  border-radius: 50%;
  object-fit: cover;
  padding: 3px !important;
  border: 3px solid #2495ff !important;
}

/* Footer */
.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  height: 70px;
  background-color: white;
  margin-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 0px;
}

.footer svg {
  cursor: pointer;
}

.footer small {
  font-size: small;
  color: #979797;
}

.goFlight svg {
  border-radius: 50%;
  background-color: #2395ff;
  box-shadow: 0px 5px 15px rgba(35, 149, 255, 0.49);
  border: 12px solid #2395ff;
}
/* Footer End */
