.bodyWrapper {
   height: 100vh;
}

.profileWrapper {
   background-color: #fbfbfb;
}

.fixHeight {
   height: 110vh;
}

.titleProfile {
   font-size: 36px;
   font-weight: bold;
}

.titleEdit {
   color: #2395ff;
}

.profileImage img {
   border-radius: 50%;
   object-fit: cover;
   padding: 8px !important;
   border: 3px solid #2495ff !important;
}

.profileImage p {
   color: #6b6b6b;
   font-size: small;
}

.profileMenu span {
   font-size: 17px;
   font-weight: bolder;
}

.logout {
   color: #f24545;
}